
header .greeting {
  background-color: #fff;
}
header .navigation {
  background-color:#383a46;
}
/* отключен 04.02 16:10*/
/* .gr-logo {
  background-color: #ffffff;
  background-image: url("\\img\\logo2.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 86px;
  width: auto;
  background-size: ;
} */
.logo {
  
}
.logo img {
  display:block;
  height: 86px;
  /*padding: 0 10px 20px 30px;*/
  /*padding-top: 0;*/
  /*border: 1px;*/
  /*border-radius: 5px;*/
  /*b-r border-right: 5px;*/
  /*d-n display: none;*/
  /*br1-s-#dbcbdc                border: 1px solid  #bdcbdc;*/
  /*p-10                         padding: -10px;*/
}
/***************************************************************/
/* BURGER ******************************************************/
/***************************************************************/

.burger {
  /*float: right;*/
  border: 2px solid #21bdc7;
  width: 40px;
  height: 40px;
  margin: 15px 0;
  padding: 7px 8px;
  border-radius: 5px;
  transition: 0.2s;
}
.burger_stripe {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background: #21bdc7;
  border-radius: 5px;
  transition: 0.2s;
}
.burger_stripe:before, .burger_stripe:after {
  position: relative;
  display: block;
  height: 2px;
  background: #21bdc7;
  top: 10px;
  left: 0;
  border-radius: 5px;
  content: '';
  transition: 0.2s;
}
.burger_stripe:after {
  top: 18px;
}
.burger:hover {
  border-color: #14dde8;
  transition: 0.5s;
}
.burger:hover .burger_stripe, .burger:hover .burger_stripe:after, .burger:hover .burger_stripe:before {
  background: #14dde8;
  transition: 0.5s;
}
/***************************************************************/
/***************************************************************/
/***************************************************************/


.gr-contact-info {
  text-align:right;
  background-color: inherit;
}

.fr {
  display: block;
  float:right;
}
.gr-contact-info  .row:first-of-type {
  margin-top:20px;
}
.gr-contact-info  .row   div {
  text-align: inherit;  
}
.contact-text,
 .contact-tel {
  vertical-align: auto;
  height: 20px;
} 

.menu-item {
  width: auto;
}
/*31.01 01:16*/
.main-menu {
  list-style:none;
  list-style-type:none;
}

.cont-nav {
  height: 65px;
}
.main-menu {
  display: block;
  margin: 20px 0;
  /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); */
}
.menu-list {
  list-style: none;
  /*margin: 0 auto;*/
  /*width: 655px;*/
  padding-left: 0;
  text-align: center;
  overflow: hidden;
}
.menu-item {
  float: left;
  /*width: 130px;*/
  /*margin-right: 45px;*/
  margin:0 25px;
}
.menu-item:last-child {
  margin-right: 0;
}

.menu-item > .menu-link {
  text-decoration: none;
  color: #f4f4f5;
  display: block;
  /*font-family: 'Arimo', sans-serif; скачать шрифт можно с сайта https://www.google.com/fonts/*/
  /*text-transform: uppercase;*/
  /*letter-spacing: 2px;*/
  /*padding: 20px 0;*/
  /*font-weight: bold;*/
  /*transition: all 0.5s ease-in-out;*/
}
/*31.01 01:59*/
/* ul {
  overflow: hidden;
} */

/*31.01 01:34*/
/* .menu-item > a  {    
  display:block;
  float:let;
  color:#f4f4f5;
} */
/**/
/* .menu-link div {
  padding:10px;
   .margin:5px;
} */


/*31.01 01:51*/
/*тестовые классы от второй менюшки*/
/*deleted*/

/*31.01 03:06*/
main .promo .p2 {
  height: 200px;
  content:("");
  background-color:rgba(200,240,80,0.5); /*#aadd23 */
}
main .promo h1, main .promo h2 {
  text-align: center;
}
/*31.01 03:22*/
.grey-transparent-back {
  background-color: rgba(119,136,153,0.5);
}

/*31.01 23:00*/
.promo {
  background-color:#111111;
  background-image: url("\\img\\main1.jpg");
  background-repeat:no-repeat;
  background-position: center;
  height:610px;
}

.menu {
  display: block;
}
.menu > .menu-list-horiz {
  list-style: none;  
  width:100%;
  text-align: center;
  overflow: hidden;
  
}


.menu > .menu-list-horiz:after {
  display: block;
  content: ("");
  clear:both;
}
.menu > .menu-list-horiz > li {
  float:left;
  margin-right: 20px;
}
.menu > .menu-list-horiz > li:last-child {
  margin-right: 0;
}
.menu > .menu-list-horiz > li > a {
  
  text-decoration: none;
  display: block;
  color:#f4f4f5;
}


.one {
  background: url(https://html5book.ru/wp-content/uploads/2015/01/border-orange.png) repeat-x;
}
.two {
  background: url(https://html5book.ru/wp-content/uploads/2015/01/borger-grey.png) repeat-x;
}
.three {
  background: url(https://html5book.ru/wp-content/uploads/2015/01/border-sea.png) repeat-x;
}
.four {
  background: url(https://html5book.ru/wp-content/uploads/2015/01/border-blue.png) repeat-x;
}
a:hover {
  background-position: 200px 0;
  color: #95948F;
}